@import 'styles/dominant/bootstrap-custom.scss';

.usaaHeroGradient {
  margin-top: 1rem;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 54%,
    rgba(252, 176, 69, 1) 92%
  );
}
.usaaHeroBack {
  background-image: url('images/background/white-elevation.png');
  background-size: 800px;
  height: 200px;
  background-repeat: repeat;
}

.geoLaptop-image {
  margin: 1em 0 1em 0;
}

.geoHeroShell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media-breakpoint-up(sm) {
    align-items: flex-start;
  }
}
